#page_heading{
  font-family: 'Dancing Script', cursive;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}

table{
  margin: auto;
}

.column_color{
  border: 1px transparant;
  height: 230px;
  width: 100px;
  margin-left: 8px;
  border-radius: 8px;
}

#one{
  background-color: #463730;
}

#two{
  background-color: #1F5673;
}

#three{
  background-color: #759FBC;
}

#four{
  background-color: #90C3C8;
}

#five{
  background-color: #B9B8D3;
}
